:root {
    --black: #242424;
    --white: #E6E5E5;
    --white-background: #FFFFFE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hepta Slab", serif;
}

html, body {
    background-color: var(--white-background);
    color: var(--black);
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #494553;
}